<!DOCTYPE html>
<html>
<head>
<style>
body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>
</head>
<body>

<ul id="ulLink">
  <li><a class="li active" href="/">Home</a></li>
	<li><a class="li" onClick="showSupplierOptions()">Suppliers</a></li>
  <li><a class="li" href="/resources">Resources</a></li>
  <li><a class="li" href="/purchase">Purchase</a></li>
</ul>

<div id="DisplayScreen" style="margin-left:25%;padding:1px 16px;height:auto;">
  <h2 id="header">Resources App</h2>
  <h3><p id="screen">Welcome!</p></h3>
	<button class="supplierB" id="getSupplierB" style="display: none;">Get Supplier</button>
	<button class="supplierB" id="postSupplierB" style="display: none; margin-top:-1.8%; margin-left: 10%" onClick="SupplierPost()">Insert Supplier</button>
	
	<form id="SupplierForm" action="/suppliers"  method="post" name="SupplierForm" style="display: none;">
  Supplier Name:<br>
  <input type="text" name="name" value=""><br>
  Password:<br>
  <input type="password" name="password" value=""><br><br>
  Address:<br>
  <input type="text" name="address" value=""><br>
  Phone:<br>
  <input type="text" name="phone" value=""><br><br>
  Region:<br>
  <input type="text" name="region" value=""><br><br>
  <input type="submit" value="Submit">
</form>	
</div>
	
	
<script>
	function SupplierPost() 
	{ 
    	document.getElementById("SupplierForm").style.display="block";
		document.getElementById("screen").style.display="none";
		document.getElementById("header").innerHTML="Insert Supplier";
		document.getElementById("getSupplierB").style.display="none";
		document.getElementById("postSupplierB").style.display="none";
	}
	function showSupplierOptions(){
		document.getElementById("getSupplierB").style.display="block";
		document.getElementById("postSupplierB").style.display="block";
		document.getElementById("screen").innerHTML="Get or Insert?"
		document.getElementById("header").innerHTML="Supplier";
		document.getElementById("getSupplierB").onclick = function () {
        location.href = "/suppliers";
    };
	}
	
</script>
	
	<script>
// Add active class to the current link (highlight it)
var header = document.getElementById("ulLink");
var lis = header.getElementsByClassName("li");
for (var i = 0; i < lis.length; i++) {
  lis[i].addEventListener("click", function() {
    var current = document.getElementsByClassName("active");
    current[0].className = current[0].className.replace(" active", "");
    this.className += " active";
  });
}
</script>
	
</body>
</html>
